ul {
    margin-left: 3rem;

    a {
        text-decoration: none;
    }
}

.mt {
    margin-top: 1.4rem;
}

.mb {
    margin-bottom: 1.4rem;
}

.v-navigation-drawer__content {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}